.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    background: #E0E1E2 none;
    padding: 0.5em;
}
.button:hover {
    background-color: #BABBBC;
}
.button:active,.button:focus,.button.active {
    background-color: #CACBCD;
}
